@use"../scss/variables.scss" as*;

.apartment-page {
    color: $color-primary;
    .apartment__description__area {
        display: flex;
        gap: 0;
        margin-left: -4rem;
        margin-right: -4rem;
        @media screen and (width <= 768px){
            flex-direction: column;
            margin-left: 0rem;
            margin-right: 0rem;
            gap: 0;
        }
    }
}
