@use "../scss/variables" as*;

.grid {
    background-color: $grid-background;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-column-gap: 5rem;
    grid-row-gap: 80px;
    justify-content: center;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 80px;
    padding-bottom: 70px;
    padding-left: 50px;
    position: relative;  
    // padding-inline: 2rem;
    place-items: center;
    
    
    & > * {
        width: 100%;
        max-width: 20rem;
    }
}
@media screen and (width <= 1300px) {
    .grid {
        padding-left: 20px;
    }
    @media screen and (width <= 1250px) {
        .grid {
            grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
            padding-left: 40px;
        }
        @media (max-width: 1058px) and (min-width: 900px) {
            .grid {
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                // padding-left: 10px;
                // padding-right: 10px;
            }
}
    }
}
@media screen and (width <= 920px) {
    .grid {
        justify-content: center;
        background-color: $grid-background-light;
        // padding-left: 60px;
        margin: 0 auto;
        display: block;
        @media screen and (width <= 395px) {
            display: grid;
            padding-left: 70px;
            grid-row-gap: 0;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        } 
        @media screen and (width <= 360px) {
            padding-left: 50px;
        }
    }
}