@use "../scss/variables" as*;

.apartment {
    position: relative;
    border-radius: 1rem;
    flex-basis: 28%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
    
    
    img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 1rem;
        margin: 0 auto;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
        filter: brightness(0.9);
        @media (max-width: 1076px) and (min-width: 488px) {
            width: 120%;
            margin-bottom: 40px;
            margin-left: -2.5rem;  
        }
        @media screen and (width <= 388px) {
            margin-bottom: -20px;
        }   
    }
    @media screen and (width <= 768px) {
        .apartment {
            flex-basis: 100%;
        }  
    }
    & &__subtitle {
        width: 40%;
        margin-inline-start: 1rem;
        margin-block-end: 1rem;
        color: $color-tertiary;
        position: absolute;
        @media (max-width: 1076px) and (min-width: 488px) {
            margin-left: 20px;
            margin-bottom: 60px;
        }
        @media screen and (width <= 388px) {
            margin-left: 10px;
            margin-bottom: 0;
        } 
    }
    .apartment__link {
        text-decoration: none; 
        
    }
    
}



