@use "../scss/variables" as*;

.grid {
    background-color: $grid-background;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 50px;
    justify-content: center;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    padding-left: 25px;
    position: relative;  
    // padding-inline: 2rem;
    place-items: center;
    
    & > * {
        width: 100%;
        max-width: 20rem;
    }
}

@media screen and (width <= 768px) {
    .grid {
        justify-content: center;
        background-color: $grid-background-light;
        // padding: 0;
        margin: 0 auto;
        
    }
}