@use"../scss/variables.scss" as*;

.description__panel {
    margin-top: 3rem;
    flex-basis: 100%;
    overflow: hidden;
    p {
        margin-block: 0;
    }
    .description__header{
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.2em 1em;
    border-radius: 0.7rem;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        font-size: 1.7rem;
        cursor: pointer;
    }
    }
    .description__content {
        background-color: $gray;
        color: $color-primary;
        padding: 2rem;
        border-radius: 0.7rem;
        position: relative;
        top: -0.5rem;
        z-index: -1;
        transition: transform 0.3s ease-in-out;
    &.hidden {
      transform: translateY(-100%);
      margin-top: -100px;
      
    }
    &.visible {
      transform: translateY(0);
      min-height: 172px;
    }
    }
}

