@use "../scss/variables" as*;

.footer {
    background-color: $footer-background-color;
    color: $color-tertiary;
    padding: 40px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;
}
@media screen and (width <= 768px) {
.footer__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
}